* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: normal 16px sans-serif;
  color: #555;
}

ul,
nav {
  list-style: none;
}

/* 
Navigation
*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
    float: left;
}

li:nth-child(6) {
    float: right;
}

li:nth-child(5) {
    float: right;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #4CAF50;
}

header nav li:last-child {
  color: green;
  float: right;
}

/* 
Hamburger Menu
*/
body header li div {
  width: 30px;
  height: 4px;
  background-color: black;
  margin: 6px 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;

  opacity: 0.9;
}

a:hover {
  opacity: 5;
}

/* Header */
/* header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 100px 0;
} */

/* header nav {
    display: flex;
}

header nav li {
    margin: 0 15px;
}

header nav li:first-child {
    margin-left: 0;
}

header nav li:last-child {
    margin-right: 0;
} */

/*----------------
 	Hero Section
----------------*/

.hero {
  position: relative;
  justify-content: center;
  bottom: -15em;
  min-height: 100vh;
  text-align: center;
}

.hero h1 {
  font: bold 60px "Open Sans", sans-serif;
  margin-bottom: 15px;
}

/* 
Google Title
*/

#google-title {
  display: inline-flex;
}

#google-title h1 {
  font-size: 8em;
}

#google-title .blue {
  color: blue;
}

#google-title .red {
  color: red;
}

#google-title .green {
  color: green;
}

#google-title .orange {
  color: orange;
}

/* 
Search Box
*/

#search-box {
  border: solid grey 1px;
  border-radius: 2em;
  height: 50px;
  width: 40em;
  margin: 10px;
  margin-bottom: 20px;
  font-family: Arial, FontAwesome;
}

#search-button,
#lucky-button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
}

#search-button,
#lucky-button {
  background-color: #e7e7e7;
}
